.drawBoard {
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;

    .row {
        flex: 1;
        display: flex;
        flex-direction: row;

        .column {
            flex: 1;
            border: 1px solid #66666666;
            cursor: crosshair;
        }
    }
}
